<template>
  <div class="about">
    <ion-card>
        <ion-card-header>
            <ion-card-title>About us</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>The content for this card</p>
        </ion-card-content>
    </ion-card>
  </div>
</template>
