<template>
  <div class="home">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Hello World</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>The content for this card</p>
        </ion-card-content>
    </ion-card>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'home'
}
</script>
